.sensorz-columns-1-2-block {
  padding: 10rem 34.1rem;
  margin-bottom: 10rem;
  @include for-tablet {
    padding: 10rem 4.6rem;
    margin-bottom: 0;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    .wrapper {
      flex: 0 0 60%;
      max-width: 60%;
      padding: 1.2rem;
      display: flex;
      flex-wrap: wrap;
      align-content: space-around;
      align-items: stretch;
      justify-content: flex-start;
      @include for-tablet {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
        margin-bottom: 3.2rem;
        display: block;
      }
      &:last-of-type {
        flex: 0 0 40%;
        max-width: 40%;
        @include for-tablet {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
      .col {
        @include borderRadius(2.2rem);
        padding: 2rem;
        color: #fff;
        text-align: center;
        width: 100%;
        flex: 0 0 100%;

        .logo-wrapper {
          width: 16.6rem;
          height: 6.2rem;
          @include for-tablet {
            width: 8.5rem;
            height: auto;
            margin-left: auto;
            margin-right: auto;
          }
        }
        h3 {
          font-size: 2.2rem;
          @include for-tablet {
            font-size: 1.8rem;
            text-align: center;
          }
        }
        p {
          font-size: 1.8rem;
          @include for-tablet {
            font-size: 1.8rem;
          }
        }
        .img-wrapper {
          width: 100%;
          height: auto;
          margin-top: 3.8rem;
          margin-left: auto;
          margin-right: auto;
          @include for-tablet {
            width: 100%;
            height: auto;
            margin-top: 3.2rem;
          }
        }
        &-1 {
          @include secondaryGradient();
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-content: space-between;
          height: 100%;
          h3 {
            font-size: 4.6rem;
            font-weight: 700;
            line-height: 1.36;
            text-align: left;
            @include for-phone {
              font-size: 3.2rem;
              text-align: center;
              margin-bottom: 1.6rem;
            }
          }
          p {
            font-size: 2.2rem;
            text-align: left;
            @include for-phone {
              text-align: center;
            }
          }
          .img-wrapper {
            margin-left: auto;
            margin-top: auto;
            margin-right: 0;
            // width: 53.7rem;
            // height: 33.2rem;
            width: 100%;
            height: auto;
            @include for-phone {
              width: 100%;
              height: auto;
              margin-top: 3.2rem;
            }
          }
        }
        &-2 {
          background: linear-gradient(
            105.23deg,
            #e53f9d -9.92%,
            #d23f78 106.1%
          );
          margin-bottom: 1.6rem;
        }
        &-3 {
          background: #555de0;
          background: linear-gradient(
            140.03deg,
            #f0f4ff 0.42%,
            #ccd9ff 101.21%
          );
          h3 {
            color: #070832;
          }
        }
      }
    }
  }
}
