.sensorz-hero-block {
  padding: 30.6rem 0 13.2rem 0;
  position: relative;
  &::before {
    // Before Element as background in case we need to use filters
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      251.58deg,
      rgba(247, 181, 0, 0.13) 2%,
      rgba(255, 255, 255, 0) 48.07%,
      rgba(223, 97, 120, 0.14) 95.11%
    );
    z-index: -1;
    pointer-events: none;
  }
  @include for-tablet {
    padding: 15.2rem 0 13.2rem 0;
  }

  .wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 0 31.2rem 0 31.2rem;
    @include for-tablet {
      padding: 0 2rem;
      display: block;
    }
    .content {
      flex: 0 0 59.5rem;
      max-width: 59.5rem;
      width: 100%;
      @include for-tablet {
        flex: 0 0 100%;
        max-width: 100%;
      }
      h1 {
        @include textColorPrimary();
        font-weight: 800;
        font-size: 9.6rem;
        line-height: 1.23;
        text-transform: uppercase;
        margin-bottom: 2.3rem;
        @include for-tablet {
          font-size: 6.4rem;
        }
      }
      p {
        color: $primary;
        font-weight: 600;
        font-size: 2.2rem;
        line-height: 1.36;
      }
    }
    .video-wrapper {
      flex: 0 0 62.1rem;
      max-width: 62.1rem;
      width: 100%;
      @include for-tablet {
        flex: 0 0 100%;
        max-width: 85%;
        margin: 5rem auto 10rem auto;
      }
      .deco-wrapper {
        position: relative;
        &::before {
          content: "";
          position: absolute;
          bottom: -9.68rem;
          left: -6.8rem;
          width: 9.18rem;
          height: 15.43rem;
          @include rotate(135);
          background: url("../../assets/images/deco-lines.svg");
          @include bg-props(contain, center, no-repeat);
          opacity: 0.23;
        }
        &::after {
          content: "";
          position: absolute;
          top: -5.7rem;
          right: -4.6rem;
          width: 5.253rem;
          height: 8.829rem;
          @include rotate(-40.21);
          background: url("../../assets/images/deco-lines.svg");
          @include bg-props(contain, center, no-repeat);
          opacity: 0.66;
        }
        .deco-line {
          position: absolute;
          height: 2.9rem;
          filter: drop-shadow(0px 0.4rem 3rem #c0c0c0);
          z-index: 9;
          background: linear-gradient(
            92.69deg,
            rgba(223, 97, 120, 0.62) 4.46%,
            rgba(223, 97, 120, 0) 73.66%
          );
          @include borderRadius(2.3rem);
          &:nth-of-type(1) {
            width: 33.2rem;
            top: 5.2rem;
            left: -18rem;
            @include rotate(-180);
          }
          &:nth-of-type(2) {
            background: linear-gradient(
              269.73deg,
              #857bb7 11.08%,
              rgba(133, 123, 183, 0) 73.22%
            );
            filter: drop-shadow(0px 0.4rem 3rem rgba(133, 123, 183, 0.27));
            width: 22.1rem;
            height: 3.8rem;
            top: 8.9rem;
            left: -13rem;
            @include rotate(0);
            opacity: 0.44;
          }
          &:nth-of-type(3) {
            bottom: -1.5rem;
            right: -13rem;
            width: 33.2rem;
          }
        }
      }
      .video-js {
        background: none;
        background-color: transparent;
        padding-top: 0;
        width: 100%;
        height: 31.6rem;
        * {
          background: none;
          background-color: transparent;
        }
        picture {
          width: 100%;
          height: 100%;
          @include borderRadius(3.8rem);
          overflow: hidden;
          img {
            @include fullSizeImg(cover);
          }
        }
      }
      video {
        width: 100%;
        @include borderRadius(3.8rem);
        height: 100%;
        position: relative;
        object-fit: cover;
        -o-object-fit: cover;
        object-position: center;
        -o-object-position: center;
      }
    }
  }
  .image-boxes {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding: 2.4rem 2.6rem;
    @include borderRadius(2.2rem);
    background: rgba(255, 255, 255, 0.88);
    box-shadow: 0px 0.4rem 6rem #e7e8f7;
    margin: 8rem auto 0 auto;
    width: fit-content;
    width: -moz-fit-content;
    @include for-tablet {
      margin: 0 auto;
      max-width: 90%;
      width: 90%;
      justify-content: space-between;
    }
    .single-box {
      flex: 0 0 20rem;
      max-width: 20rem;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      justify-content: flex-start;
      @include for-tablet {
        flex: 0 0 calc(50% - 1.6rem);
        max-width: calc(50% - 1.6rem);
      }
      @include for-phone {
        flex: 0 0 100%;
        max-width: 100%;
      }
      &:not(:last-of-type) {
        margin-right: 1.6rem;
        @include for-tablet {
          margin-bottom: 2rem;
          margin-right: 0;
        }
      }
      .img-wrapper {
        flex: 0 0 7rem;
        max-width: 7rem;
        width: 7rem;
        height: 7rem;
        padding: 1.2rem;
        @include borderRadius(2.3rem);
        box-shadow: 0 0.4rem 3rem var(--shadowColor);
        margin-right: 1.9rem;
        img {
          @include fullSizeImg(contain);
        }
      }
      p {
        flex: 0 0 calc(100% - 7rem - 1.9rem);
        max-width: calc(100% - 7rem - 1.9rem);
        width: calc(100% - 7rem - 1.9rem);
        color: $primary;
        font-size: 1.7rem;
        line-height: 1.35;
      }
    }
  }
}
