.sensorz-use-cases-short-archive-block {
  padding: 0 30rem 10rem 36rem;
  background: linear-gradient(
    251.58deg,
    rgba(247, 181, 0, 0.13) 2%,
    rgba(255, 255, 255, 0) 48.07%,
    rgba(223, 97, 120, 0.14) 95.11%
  );
  @include for-tablet {
    padding: 0 2rem 10rem 2rem;
  }
  > header {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: center;
    margin-bottom: 8rem;
    @include for-tablet {
      flex-wrap: nowrap;
      overflow-x: auto;
      justify-content: flex-start;
      padding-bottom: 3rem;
      margin-bottom: 0;
      padding-top: 3rem;
    }
    .section-title {
      opacity: 0.12;
      padding-top: 3rem;
      margin-right: 3rem;
      @include for-tablet {
        opacity: 1;
        width: 100%;
        text-align: center;
        margin-right: 0;
        padding-top: 0;
        br {
          display: none;
        }
      }
    }
    .single-post-header {
      flex: 0 0 15rem;
      width: 15rem;
      max-width: 15rem;
      padding: 1.2rem 1.5rem 2.2rem 1.5rem;
      background: #fff;
      box-shadow: 0px 0.4rem 2rem rgba(0, 0, 0, 0.06);
      height: inherit;
      position: relative;
      cursor: pointer;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2.4rem;
        width: 100%;
        background: url("../../assets/images/active-tab-bg.svg");
        @include bg-props(100%, bottom, no-repeat);
        z-index: 1;
        height: 0;
      }
      &:hover {
        @include primaryGradient();

        .icon {
          background: var(--hoverIconUrl);
          @include bg-props(contain, center, no-repeat);
        }
        h4 {
          color: #fff;
        }
      }
      &.active {
        @include primaryGradient();
        box-shadow: none;
        .icon {
          background: var(--hoverIconUrl);
          @include bg-props(contain, center, no-repeat);
        }
        h4 {
          color: #fff;
          font-weight: 700;
        }
        &::before {
          height: calc(100% + 2.4rem);
        }
      }
      &:not(:last-of-type) {
        margin-right: 2.8rem;
      }
      .icon {
        height: 5rem;
        width: auto;
        margin: 0 auto 1.4rem auto;
        background: var(--iconUrl);
        @include bg-props(contain, center, no-repeat);
        transition: 0s;
        position: relative;
        z-index: 9;
      }
      h4 {
        text-align: center;
        color: $primary;
        font-size: 1.8rem;
        transition: 0s;
        position: relative;
        z-index: 9;
      }
    }
  }
  .posts-container {
    .single-post {
      display: none;
      transition: 0s;
      @include for-tablet {
        display: block;
        background: #fff;
        padding: 2.2rem;
        background: #ffffff;
        box-shadow: 0px 0px 2rem rgba(85, 89, 224, 0.2);
        @include borderRadius(0.8rem);
        transition: 0s;
      }
      .post_title {
        @include textColorSecondary();
        font-size: 3.2rem;
        line-height: 1.375;
        font-weight: 700;
        margin-bottom: 3.2rem;
        @include for-tablet {
          text-align: left;
          margin-top: -2.2rem;
          margin-left: -2.2rem;
          margin-right: -2.2rem;
          padding: 2.2rem 5.8rem 2.2rem 2.2rem;
          width: calc(100% + 4.4rem);
          position: relative;
          @include borderRadius(0.8rem);
          &::after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 1.3rem 1rem 0 1rem;
            border-color: #2c1f66 transparent transparent transparent;
            @include ver-center();
            right: 2.8rem;
            transition: 0.6s;
          }
          &.active {
            @include primaryGradient();
            color: #fff;
            -webkit-background-clip: inherit;
            -webkit-text-fill-color: #fff;
            &::after {
              border-width: 0 1rem 1.3rem 1rem;
              border-color: transparent transparent #2c1f66 transparent;
              transform-origin: 0 0.3rem;
            }
          }
        }
      }
    }
  }
}
