#masthead {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 7rem 32rem;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 2048;
  @include for-tablet {
    padding: 2rem;
    transition: 0s;
  }
  &.sticky {
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 2rem 22rem;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
    @include for-tablet {
      padding: 2rem;
      background: rgba(255, 255, 255, 1);
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
      transition: 0s;
    }
  }
  .custom-logo-link {
    width: auto;
    height: 7.285rem;
    margin-right: 1rem;
    @include for-tablet {
      height: 4.5rem;
      margin-right: 0;
    }
    img {
      @include fullSizeImg(contain);
    }
  }

  .menu {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    @include for-tablet {
      position: fixed;
      right: -200%;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 1);
      z-index: 2048;
      padding: 3.5rem 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: column;
      box-shadow: 0 -0.3rem 0.6rem rgba(0, 0, 0, 0.16);
      &.active {
        right: 0;
      }
    }
    li {
      @include for-tablet {
        text-align: center;
      }
      &:not(:last-of-type) {
        margin-right: 3rem;
        @include for-tablet {
          margin-right: 0;
          margin-bottom: 4rem;
        }
      }
      a {
        @include for-tablet {
          font-size: 2.4rem;
          font-weight: 500;
        }
        &:not(.btn) {
          color: $primary;
          font-size: 1.6rem;
          @include for-tablet {
            font-size: 2.4rem;
            font-weight: 500;
          }
          &:hover {
            background: linear-gradient(
              105.23deg,
              #e5953f -9.92%,
              #d23f78 106.1%
            );
            background-clip: text;
            -webkit-background-clip: text;
            text-fill-color: transparent;
          }
        }
      }
    }
  }
  #mobile-trigger {
    display: none;
    position: relative;
    width: 3.2rem;
    height: 2.2rem;
    span {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: $primary;
      transition: 0.3s;
      &:nth-of-type(1) {
        top: 0;
      }
      &:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%);
      }
      &:nth-of-type(3) {
        bottom: 0;
      }
    }
    @include for-tablet {
      display: flex;
      &.active {
        span {
          &:nth-of-type(1) {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
          }
          &:nth-of-type(2) {
            // opacity: 0;
            width: 0;
          }
          &:nth-of-type(3) {
            bottom: 50%;
            transform: translateY(50%) rotate(-45deg);
          }
        }
      }
    }
  }
}
